pyyaml
python-dotenv
pytest
google-genai
huggingface_hub
Pillow
tqdm
sentence-transformers
torch>=2.6.0
chromadb
streamlit   
transformers
gradio # Nếu streamlit k đc thì đổi qua gradio
peft
# Thêm cái này: pip install --index-url https://download.pytorch.org/whl/cpu torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0
accelerate